<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/habernate</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">zys123456</property>
        <!-- 方言-->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- 指定数据库的生成方式，update是当表存在时插入数据，表不存在时先创建表再插入数据-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!--        &lt;!&ndash;打印sql&ndash;&gt;-->
        <!--        <property name="show_sql">true</property>-->
        <!--        &lt;!&ndash;格式化sql&ndash;&gt;-->
        <!--        <property name="format_sql">true</property>-->
        <!-- 开启二级缓存-->
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <!-- 开启查询缓存-->
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.cache.region.factory_class">
            org.hibernate.cache.ehcache.EhCacheRegionFactory
        </property>
        <!-- orm映射文件-->
        <mapping resource="com/zxh/entity/User.hbm.xml"/>
        <class-cache usage="read-write" class="com.zxh.entity.User"/>
    </session-factory>
</hibernate-configuration>